@charset "UTF-8";
.event-wrapper {
  font-family: "Open Sans", Arial, 微軟正黑體, "Microsoft JhengHei";
  background-color: #fcd220;
  color: #292929;
}
.event-wrapper a:hover, .event-wrapper a:focus {
  text-decoration: none;
}

.event-header img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .width-sm {
    display: block;
  }

  .width-lg, .width-md {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1499px) {
  .width-md {
    display: block;
  }

  .width-lg, .width-sm {
    display: none;
  }
}
@media screen and (min-width: 1500px) {
  .width-lg {
    display: block;
  }

  .width-md, .width-sm {
    display: none;
  }
}