@charset "UTF-8";
@font-face {
  font-family: "Helvetica Neue";
  src: url(/font/helvetica-neue.woff); }
@font-face {
  font-family: "Helvetica Neue";
  font-weight: bold;
  src: url(/font/helvetica-neue-bold.woff); }
@font-face {
  font-family: "Helvetica Narrow";
  src: url(/font/helvetica-narrow.woff); }
main {
  padding-top: 40px; }

.alert--warning {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #f23060;
  color: #f23060; }

.member-panel ul {
  list-style: none; }

@media screen and (max-width: 1199px) {
  .member-panel {
    margin-bottom: 20px; }
    .member-panel li {
      width: 47.8260869565%;
      float: left;
      margin-right: 4.347826087%;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 3;
      text-align: center;
      background-color: #eeeeee; }
      .member-panel li:last-child {
        width: 47.8260869565%;
        float: right;
        margin-right: 0; }
    .member-panel a {
      display: block;
      color: inherit; } }
@media (min-width: 1200px) {
  .member-panel {
    width: 18.6440677966%;
    float: left;
    margin-right: 1.6949152542%; }
    .member-panel li {
      font-size: 16px;
      letter-spacing: 1px;
      margin-bottom: 20px;
      padding-left: 20px;
      line-height: 3;
      background-color: #eeeeee; }
    .member-panel a {
      display: block;
      color: inherit; }

  .member {
    width: 52.5423728814%;
    float: left;
    margin-right: 1.6949152542%;
    margin-left: 6.7796610169%; }
    .member .form-group {
      clear: both;
      width: 61.2903225806%;
      float: left;
      margin-right: 3.2258064516%; }
      .member .form-group label {
        font: 500 16px "Noto Sans TC", "Yu Gothic", "MS Gothic", 微軟正黑體, "Microsoft JhengHei";
        color: #f68d1a; }
      .member .form-group.short {
        clear: both;
        width: 35.4838709677%;
        float: left;
        margin-right: 3.2258064516%; } }


